node_modules/
Lab9_Excel/
Manufacturing/
Mechanical Engineering 2/
Erasmus/
antigravity-auto-approve/
korepetycje-ogloszenie/
*.backup
package-lock.json

Animacja DNA/
BioTuneStronaWWW/Animacja DNA/
BioTuneStronaWWW/FileZilla_3.69.5_win64-setup.exe
